/*-- scss:defaults --*/

$font-family-sans-serif: Karla;

/*-- scss:rules --*/

.wide-div {
  width: calc(100vw - 20px);
  margin-left: calc(-50vw + 50%);
  margin-right: -50px;
}

h1 {
  font-family: Futura;
  color: $brand-graph-secondary;
}

h2 {
  font-family: Futura;
}